<div class="graphic-container flexbox flexbox--comparison-graphic">
	<div>
		<h4>Geelong</h4>
		<p>278,929 people</p>
		<p>Greater Geelong had a total of 411 affordable units (about 20% of all units) in the third quarter last year</p>
	</div>
	<div>
		<h4>Tukwila School District</h4>
		<p>10% of students experiencing homelessness</p>
		<p>93% of students experiencing homelessness are students of color</p>
	</div>
</div>
<p class="data-source"><a href="https://www.dhhs.vic.gov.au/publications/rental-report">Victoria state government</a></p>