<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1581122610,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2020\/geelong-project-australia-student-youth-homeless-prevention-comes-to-king-county-washington",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2020-02-09 06:00:00",
	"modifieddate":"2020-02-09 06:00:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"education-lab",
	"section_tier2":"education|seattle-news|politics",
	"sections_all":"education|education-lab|seattle-news|politics",
	"othersections":"education, seattle-news, politics",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>