<div class="edlab-card">
	<div class="edlab-logo">
		<img src="./assets/edlab-logo.jpg" alt="Education Lab logo">
	</div>
	<p><a href="www.seattletimes.com/education-lab/">Education Lab</a> is a Seattle Times project that spotlights promising approaches to persistent challenges in public education. It is produced in partnership with the <a href="http://www.solutionsjournalism.org/">Solutions Journalism Network</a> and is funded by a grant from the Bill & Melinda Gates Foundation, Amazon and City University of Seattle. <a href="http://www.seattletimes.com/education-lab-about/">Learn more about Ed Lab.</a></p>
</div>