<div class="graphic-container">
	<h3 class="graphic-hed">Preventing youth homelessness before it begins</h3>
	<p class="graphic-text">In the Australian city of Geelong, students at seven schools take a personal survey to gauge their risk of becoming homeless or dropping out. Intervention workers then interview the students most at risk and refer them to wraparound services if needed.</p>
	<div class="flowchart__box flowchart__step">
		<h4 class="flowchart__step-number">STEP 1</h4>
		<p class="flowchart__text">Survey all students.	Ask about their life at school, home and everywhere else.</p>
	</div>
	<div class="arrow"></div>
	<div class="flowchart__box flowchart__step">
		<h4 class="flowchart__step-number">STEP 2</h4>
		<p class="flowchart__text">Score each student’s responses to identify anyone at risk of entering the homeless system or dropping out.</p>
	</div>
	<div class="arrow"></div>
	<div class="flowchart__box flowchart__step">
		<h4 class="flowchart__step-number">STEP 3</h4>
		<p class="flowchart__text">Reconcile the survey-generated list 
		of at-risk students with the school’s own list and attendance records.</p>
	</div>
	<div class="arrow"></div>
	<div class="mini-step-container--desktop">
		<div class="mini-step-container--mobile flowchart__step">
			<div class="flowchart__box">
				<h4 class="flowchart__step-number step-number--mini-step">STEP 3a</h4>
				<p class="flowchart__text">School staff produce their own list of students they believe are at risk.</p>
			</div>
			<div class="flowchart__box">
				<h4 class="flowchart__step-number step-number--mini-step">STEP 3b</h4>
				<p class="flowchart__text">School staff follow up on surveys with absent students.</p>
			</div>
		</div>
		<div class="arrow"></div>
	</div>
	<div class="flowchart__box flowchart__step">
		<h4 class="flowchart__step-number">STEP 4</h4>
		<p class="flowchart__text">The Geelong Project team conducts short interviews with identified students.</p>
	</div>
	<div class="arrow"></div>
	<div class="flowchart__box flowchart__step">
		<h4 class="flowchart__step-number">STEP 5</h4>
		<p class="flowchart__text">The team reviews each student’s case and discusses recommendations.</p>
	</div>
	<div class="arrow"></div>
	<div class="flowchart__box flowchart__step">
		<h4 class="flowchart__step-number">STEP 6</h4>
		<p class="flowchart__text">Early intervention workers refer student and their family to wraparound services, such as counseling, tutoring or emergency assistance.</p>
	</div>
	<p class="caption">
		<span class="data-source">Source: The Geelong Project</span>
		<span class="art-credit">Mark Nowlin / The Seattle Times</span>
	</p>
</div>