<div class="flexbox survey-questions-graphic">
	<div>
		<h3>Geelong survey: 93 questions</h3>

		<h4>24% about housing/financial stability</h4>
		<p>Do you feel safe at home?</p>
		<p>I get into a lot of conflicts with my parents.</p>
		<p>Over the past 12 months, at any time, have you stayed with friends/relatives when you really did not to be at home with your parent(s) and familiy?</p>

		<h4>24% about school experience</h4>
		<p>I enjoy going to school each day.</p>
		<p>I regularly "wag" school (ie. miss school without permission)</p>
		<p>If I was able to get a full-time job, I would leave school now.</p>

		<h4>49% about phsyical/mental wellbeing</h4>
		<p>I usually take things in my stride.</p>
		<p>My life has meaning.</p>
		<p>I can get through difficult times because I have experienced difficulty before.</p>
	</div>
	<div>
		<h3>Hopkins survey: 74 questions</h3>

		<h4>28% about housing/financial stability</h4>
		<p>During the past 30 days, did you ever sleep away from your parents or guardians because you were kicked out, ran away or were abandoned?</p>
		<p>In the last year, how often did you/your family worry that food would run out?</p>
		<p>Are you worried that you or your family might not have a stable or safe place to stay sometime this year?</p>

		<h4>18% about school experience</h4>
		<p>I get along well with most of my teachers.</p>
		<p>I get into a lot of trouble at school.</p>
		<p>Are you worried that you might stop going to school sometime this year?</p>

		<h4>45% about phsyical/mental wellbeing</h4>
		<p>I feel lonely.</p>
		<p>There is an adult, other than a family member, who is there for me when I need them.</p>
		<p>I know for sure that someone really cares about me.</p>

		<h4>58% of questions are new (compared to Geelong survey)</h4>
		<p>Are you or your partner pregnant?</p>
		<p>During the past year, how many times have you changed schools?</p>
		<p>I feel that no one loves me.</p>
	</div>
</div>