<div class="survey-questions-graphic">
	<h4>24% about housing/financial stability</h4>
	
	<div class="flexbox">
		<div class="question-container">
			<p class="question">Do you feel safe at home?</p>
			<ul class="answer-list">
				<li><span class="answer-bubble"></span>Yes, definitely</li>
				<li><span class="answer-bubble"></span>Sometimes not safe</li>
				<li><span class="answer-bubble"></span>Often not safe</li>
			</ul>
		</div>

		<div class="question-container">
			<p class="question">Over the past 12 months, at any time, have you stayed with friends/relatives when you really did not to be at home with your parent(s) and familiy?</p>
			<ul class="answer-list">
				<li><span class="answer-bubble"></span>Yes</li>
				<li><span class="answer-bubble"></span>No</li>
			</ul>
		</div>
	</div>

	<h4>24% about school experience</h4>

	<div class="flexbox">
		<div class="question-container">
			<p class="question">I regularly "wag" school (i.e. miss school without permission)</p>
			<ul class="answer-list">
				<li><span class="answer-bubble"></span>Strongly Agree</li>
				<li><span class="answer-bubble"></span>Agree</li>
				<li><span class="answer-bubble"></span>Unsure</li>
				<li><span class="answer-bubble"></span>Disagree</li>
				<li><span class="answer-bubble"></span>Strongly Disagree</li>
			</ul>
		</div>

		<div class="question-container">
			<p class="question">If I was able to get a job, I would leave school now.</p>
			<ul class="answer-list">
				<li><span class="answer-bubble"></span>Strongly Agree</li>
				<li><span class="answer-bubble"></span>Agree</li>
				<li><span class="answer-bubble"></span>Unsure</li>
				<li><span class="answer-bubble"></span>Disagree</li>
				<li><span class="answer-bubble"></span>Strongly Disagree</li>
			</ul>
		</div>
	</div>

	<h4>49% about phsyical/mental wellbeing</h4>

	<div class="flexbox">
		<div class="question-container">
			<p class="question">I usually take things in my stride. (This means: I deal with things calmly and I don't let things bother me too much)</p>
			<p class="answer-text">Strongly Disagree > > > > > Strongly Agree</p>
			<ul class="answer-list">
				<li><span class="answer-bubble"></span>1</li> 
				<li><span class="answer-bubble"></span>2</li> 
				<li><span class="answer-bubble"></span>3</li> 
				<li><span class="answer-bubble"></span>4</li> 
				<li><span class="answer-bubble"></span>5</li> 
				<li><span class="answer-bubble"></span>6</li>
				<li><span class="answer-bubble"></span>7</li>
			</ul>
		</div>

		<div class="question-container">
			<p class="question">My life has meaning.</p>
			<p class="answer-text">Strongly Disagree > > > > > Strongly Agree</p>
			<ul class="answer-list">
				<li><span class="answer-bubble"></span>1</li> 
				<li><span class="answer-bubble"></span>2</li> 
				<li><span class="answer-bubble"></span>3</li> 
				<li><span class="answer-bubble"></span>4</li> 
				<li><span class="answer-bubble"></span>5</li> 
				<li><span class="answer-bubble"></span>6</li>
				<li><span class="answer-bubble"></span>7</li>
			</ul>
		</div>
	</div>
</div>