@import "seattletimes";
@import "brightcove";
@import "comments";

@geelong: #d89253;
@kingcounty: #4f84af;

@pink: #ffdce4;
@red: #d12222;

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.hero {
	height: 100vh;
	position: relative;
	z-index: -1;
}

.hero__figure {
	left: 50%;
	margin: 0 auto;
	object-fit: cover;
	position: fixed;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
	&.hidden {
		opacity: 0;
	  -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
	  -moz-animation: fadeout 1s; /* Firefox < 16 */
	  -ms-animation: fadeout 1s; /* Internet Explorer */
	  -o-animation: fadeout 1s; /* Opera < 12.1 */
	  animation: fadeout 1s;
	}
	&.shown {
		opacity: 1;
	  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	  -moz-animation: fadein 1s; /* Firefox < 16 */
	  -ms-animation: fadein 1s; /* Internet Explorer */
	  -o-animation: fadein 1s; /* Opera < 12.1 */
	  animation: fadein 1s;
	}
}

.hero__video {
	height: 100vh;
	object-fit: cover;
	width: 100%;
}

.hero__text {
	text-align: center;
	width: 100%;
	position: relative;
	top: ~"calc(50% - 130px)";
}

h1 {
	font-size: 3.5em;
	color: #fff;
	text-shadow: 0px 0px 15px #000;
}

#beginning {
	margin-top: 30vh;
}

h2, h3, .byline, .body-text, .publish-date {
	margin-left: auto;
	margin-right: auto;
	max-width: 680px;
	@media @tablet {
		padding-left: 10px;
		padding-right: 10px;
	}
}

h3 {
	font-size: 1.4em;
}

.flexbox {
	@media @tablet-up {
		display: flex;
	}
}

.graphic-container {
	border-top: 1px solid @df-light-gray;
	border-bottom: 1px solid @df-light-gray;
	font-family: @df-sans;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 980px;
	padding: 0 10px;
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.sidebar {
	padding: 15px;
	width: 360px;
	@media @tablet {
		margin: auto;
	}
	@media @mobile {
		width: 300px;
	}
	@media @tablet-up {
		float: right;
		margin-left: 20px;
		margin-right: 20px;
	}
	@media (min-width: 1240px) {
		margin-right: ~"calc(50% - 440px)";
	}
}

.article__figure {
	margin-top: 100px;
	margin-bottom: 100px;
	max-width: 1280px;
	@media (max-width: 1280px) {
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: 1280px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.image--standalone img {
	max-width: 1280px;
	width: 100%;
}

.dont-miss {
	margin-bottom: 30px;
}

.legend-box {
	display: inline-block;
	height: 15px;
	width: 15px;
}

.graphic-text {
	font-family: @df-sans;
}

.graphic-text--small {
	font-size: 0.8em;
}

.outcomes-graphic-container h4 {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 15px;
	text-align: center;
}

.outcomes__flexbox {
	@media (min-width: 650px) {
		display: flex;
		margin: 0 auto;
		width: 630px;
	}
}

.outcomes__chart-container {
	width: 300px;
	@media (max-width: 650px) {
		margin: 0 auto;
	}
	@media (min-width: 650px) {
		&:first-child {
			margin-right: 15px;
		}
		&:last-child {
			margin-left: 15px;
		}
	}
}

.outcomes__label {
	font-size: 0.8em;
	font-weight: bold;
	margin: 0;
}

.support-staff-graphic.flexbox div {
	padding: 10px;
}

.question, .answer-text, .answer-list {
	margin: 0;
}

.comparison-inner {
	border-style: solid;
	border-width: 2px;
	border-left-width: 16px;
	padding: 10px 10px 10px 14px;
	&:first-child {
		margin-bottom: 10px;
	}
	&:last-child {
		margin-top: 10px;
	}
	&.Geelong {
		border-color: @geelong;
	}  
	&.King {
		border-color: @kingcounty;
	}
}

.comparison-graphic__hed {
	font-family: @df-sans;
	margin: 0;
}

.comparison-graphic__text {
	margin: 0;
}

.survey-questions-graphic h4 {
	font-size: 0.95em;
	margin-bottom: 10px;
	text-align: center;
}

.question-container {
	border: 1px solid @red;
	border-radius: 3px;
	background-color: @pink;
	padding: 10px 20px;
	@media @tablet {
		&:first-child {
			margin-bottom: 10px;
		}
	}
	@media @tablet-up {
		width: 50%;
		&:first-child {
			margin-right: 10px;
		}
		&:last-child {
			margin-left: 10px;
		}
	}
}

.question {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.red {
	color: @red;
}

.answer-list {
	font-size: 16px;
	margin: 0;
	padding-left: 0;
}

.answer-list li {
	display: inline-block;
	list-style-type: none;
	padding-left: 5px;
	padding-right: 5px;
	&:first-child {
		padding-left: 0;
	}
}

.answer-bubble {
	background: #fff;
	border: 1px solid red;
	border-radius: 2px;
	display: inline-block;
	height: 12px;
	margin-right: 8px;
	width: 16px;
}

.nav-bottom {
	margin-top: 60px;
}