@import "seattletimes";
@import "brightcove";
@import "comments";

@geelong: #d89253;
@kingcounty: #4f84af;

@pink: #ffdce4;

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@-moz-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@-ms-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.hero {
	height: 100vh;
	position: relative;
	z-index: -1;
}

.hero__figure {
	left: 50%;
	margin: 0 auto;
	object-fit: cover;
	position: fixed;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
	&.hidden {
		opacity: 0;
	  -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
	  -moz-animation: fadeout 1s; /* Firefox < 16 */
	  -ms-animation: fadeout 1s; /* Internet Explorer */
	  -o-animation: fadeout 1s; /* Opera < 12.1 */
	  animation: fadeout 1s;
	}
	&.shown {
		opacity: 1;
	  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	  -moz-animation: fadein 1s; /* Firefox < 16 */
	  -ms-animation: fadein 1s; /* Internet Explorer */
	  -o-animation: fadein 1s; /* Opera < 12.1 */
	  animation: fadein 1s;
	}
}

.hero__video {
	height: 100vh;
	object-fit: cover;
	width: 100%;
}

.hero__text {
	text-align: center;
	width: 100%;
	position: relative;
	top: ~"calc(50% - 130px)";
}

h1 {
	font-size: 3.5em;
	color: #fff;
	text-shadow: 0px 0px 15px #000;
}

#beginning {
	margin-top: 30vh;
}

h2, h3, .byline, .body-text, .publish-date, .figure--inline {
	margin-left: auto;
	margin-right: auto;
	max-width: 680px;
	@media @tablet {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.figure--full {
	margin-top: 100px;
	margin-bottom: 70px;
	max-width: 1280px;
	@media (max-width: 1280px) {
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: 1280px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.figure--inline, .figure--full {
	img {
		width: 100%;
	}
}

h3 {
	font-size: 1.4em;
}

.flexbox {
	@media @tablet-up {
		display: flex;
	}
}

.graphic-container {
	border-top: 1px solid @df-light-gray;
	border-bottom: 1px solid @df-light-gray;
	font-family: @df-sans;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 980px;
	padding: 0 10px;
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.sidebar {
	padding: 15px;
	width: 360px;
	@media @tablet {
		margin: auto;
	}
	@media @mobile {
		width: 300px;
	}
	@media @tablet-up {
		float: right;
		margin-left: 20px;
		margin-right: 20px;
	}
	@media (min-width: 1240px) {
		margin-right: ~"calc(50% - 440px)";
	}
}

.image--standalone img {
	display: block;
	max-width: 1280px;
	width: 100%;
}

.caption {
	clear: both;
	margin-top: 5px;
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.dont-miss {
	margin-bottom: 30px;
}

.graphic-text {
	font-family: @df-sans;
}

.graphic-text--small {
	font-size: 0.8em;
}

.locator-container {
	width: 330px;
	padding: 15px;
	@media @tablet {
		margin: auto;
	}
	@media @mobile {
		width: 300px;
	}
	@media @tablet-up {
		float: right;
		margin-left: 20px;
		margin-right: 20px;
	}
	@media (min-width: 1240px) {
		margin-right: ~"calc(50% - 440px)";
	}
	img {
		display: block;
	}
}

.comparison-inner {
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	padding: 10px 10px 10px 14px;
	&:first-child {
		margin-bottom: 10px;
	}
	&:last-child {
		margin-top: 10px;
	}
	&.Geelong {
		border-color: @geelong;
	}  
	&.King {
		border-color: @kingcounty;
	}
}
.comparison-graphic__hed {
	font-family: @df-sans;
	margin: 0;
}
.comparison-graphic__text {
	margin: 0;
}

.outcomes-graphic-container h4 {
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 15px;
	text-align: center;
}
.outcomes__flexbox {
	@media (min-width: 650px) {
		display: flex;
		margin: 0 auto;
		width: 630px;
	}
}
.outcomes__chart-container {
	width: 300px;
	@media (max-width: 650px) {
		margin: 0 auto;
	}
	@media (min-width: 650px) {
		&:first-child {
			margin-right: 15px;
		}
		&:last-child {
			margin-left: 15px;
		}
	}
}
.outcomes__label {
	font-size: 0.8em;
	font-weight: bold;
	margin: 0;
}
.flowchart__step {
	@media @desktop-up {
		float: left;
		width: ~"calc(33% - 18px)";
		height: 165px;
	}
	@media (min-width: 945px) {
		height: 145px;
	}
}
.flowchart__box {
	border: 1px solid @geelong;
	border-radius: 5px;
	margin: 0;
	padding: 10px;
	@media @desktop-up {
		margin-bottom: 10px;
	}
}
.flowchart__step-number {
	background: darken(@geelong, 15%);
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	margin: 0;
	padding: 2px 10px;
	&.step-number--mini-step {
		background: @geelong;
	}
}
.mini-step-container--mobile {
	@media @tablet {
		display: flex;
		.flowchart__box {
			width: 50%;
			&:first-child {
				margin-right: 5px;
			}
		}
	}
}
.mini-step-container--desktop {
	@media @desktop-up {
		clear: left;
		width: 510px;
		margin: auto;
		.flowchart__step {
			height: auto;
			width: 490px;
		}
		.flowchart__box {
			margin-bottom: 10px;
		}
	}
	&::after {
		content: "";
		clear: both;
		display: block;
	}
}
.flowchart__text {
	margin: 4px 0 0 0;
	font-size: 16px;
}
.arrow {
	@media @tablet {
		height: 0; 
		margin: 5px auto;
	  width: 0; 
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-top: 10px solid @geelong;
	}
	@media @desktop-up {
		float: left;
	  width: 0; 
	  height: 0;
	  margin: 77px 5px; 
	  border-top: 10px solid transparent;
	  border-bottom: 10px solid transparent;
	  border-left: 10px solid @geelong;
	}
	@media (min-width: 945px) {
		margin: 67px 5px;
	}
}

.support-staff-graphic.flexbox div {
	padding: 10px;
}
.pie-container {
	padding: 0 5px;
	text-align: center;
}
.flexbox .pie-container {
	@media @tablet-up {
		width: 33%;
	}
}
.support-staff__text {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 480px;
}

.survey-questions-graphic h4 {
	font-size: 0.95em;
	margin-bottom: 10px;
	text-align: center;
}
.question, .answer-text, .answer-list {
	margin: 0;
}
.question-container {
	border: 1px solid darken(@geelong, 15%);
	border-radius: 5px;
	background-color: lighten(@geelong, 30%);
	padding: 10px 20px;
	@media @tablet {
		&:first-child {
			margin-bottom: 10px;
		}
	}
	@media @tablet-up {
		width: 50%;
		&:first-child {
			margin-right: 10px;
		}
		&:last-child {
			margin-left: 10px;
		}
	}
}
.question {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.red {
	color: darken(@geelong, 15%);
}
.answer-list {
	font-size: 16px;
	margin: 0;
	padding-left: 0;
}
.answer-list li {
	display: inline-block;
	list-style-type: none;
	padding-left: 5px;
	padding-right: 5px;
	&:first-child {
		padding-left: 0;
	}
}
.answer-bubble {
	background: #fff;
	border: 1px solid darken(@geelong, 15%);
	border-radius: 2px;
	display: inline-block;
	height: 12px;
	margin-right: 8px;
	width: 16px;
}

.nav-bottom {
	margin-top: 60px;
}