<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
      <%= t.include("partials/_nav.html") %>
      <% doc = archieml.Geelong_With_Visuals %>

      <div class="hero">
        <figure class="hero__figure shown">
          <video class="hero__video" src="./assets/<%= doc.intro_file %>" autoplay="" playsinline="" loop="" muted=""></video>
        </figure>
        <div class="hero__text">
          <h1><%= doc.h1 %></h1>
        </div>
      </div>

      <h2 id="beginning"><%= doc.h2 %></h2>
      <p class="byline"><%= doc.byline %></p>
      <p class="publish-date"><%= doc.date %></p>

      <% doc.sections.forEach(function(s) { %>
        <% if (s.type === "text") { %>
          <% s.value.forEach(function(p) { %>
            <p class="body-text"><%= p.value %></p>
          <% }) %>
        <% } else if (s.type === "h3") { %>
          <h3><%= s.value %></h3>
        <% } else if (s.type === "graphic") { %>
          <div class="graphic-container">
            <% path = "partials/_" + s.value.partial + ".html" %>
            <h3 class="graphic-hed"><%= s.value.hed %></h3>
            <p class="graphic-text"><%= s.value.chatter %></p>
            <%= t.include(path) %>
            <div class="graphic-notes-container">
              <% if (s.value.note) { %>
                <p class="data-note"><%= s.value.note %></p>
              <% } %>
              <p class="data-source"><%= s.value.source %></p>
              <p class="art-credit">Hilary Fung and Neal Morton / The Seattle Times</p>
            </div>
          </div>
        <% } else if (s.type === "comparison") { %>
          <div class="sidebar">
            <% ["Greater Geelong region", "King County"].forEach(function(d) { %>
              <div class="comparison-inner <%= d %>">
                <h4 class="comparison-graphic__hed"><%= d %></h4>
                <% json[s.value.sheet].forEach(function(e) { %>
                  <p class="graphic-text comparison-graphic__text"><%= e[d] %></p>
                <% }) %>
              </div>
            <% }) %>
          </div>
        <% } else if (s.type === "figure") { %>
          <figure class="article__figure <%= s.value.class %>">
            <img class="lazy" src="./assets/<%= s.value.file %>-ll.JPG" data-src="./assets/<%= s.value.file %>.JPG" alt="<%= s.value.caption %>">
            <figcaption class="caption"><%= s.value.caption %></figcaption>
          </figure>
        <% } else if (s.type === "looper") { %>
          <figure class="article__figure <%= s.value.class %>">
            <video src="./assets/<%= s.value.file %>" autoplay="" playsinline="" loop="" muted=""></video>
            <figcaption>
              <p class="caption"><%= s.value.caption %></p>
            </figcaption>
          </figure>
        <% } else if (s.type === "brightcove") { %>
          <figure class="figure--full">
            <div class="brightcove">
              <iframe src="//players.brightcove.net/1509317113/Nk8AFQkhe_default/index.html?videoId=<%= s.value.brightcove_id %>" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
            </div>
            <figcaption class="caption"><%= s.value.caption %></figcaption>
          </figure>
        <% } else if (s.type === "partial") { %>
          <% path = "partials/_" + s.value + ".html" %>
          <%= t.include(path) %>
        <% } else if (s.type === "dont-miss") { %>
          <% val = s.value.stories %>
          <%= t.include("partials/_dontMiss.html", {stories: val}) %>
        <% } %>
      <% }) %>

      <%= t.include("partials/_credits.html") %>
      <%= t.include("partials/_dontMiss.html", {stories: "stories-youth"}) %>
      <%= t.include("partials/_comments.html") %>
      <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>

    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
