<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
      <%= t.include("partials/_nav.html") %>
      <% doc = archieml.Geelong_Draft_With_Visuals %>

      <div class="hero">
        <figure class="hero__figure shown">
          <video class="hero__video" src="./assets/<%= doc.intro_file %>" autoplay="" playsinline="" loop="" muted=""></video>
          <figcaption class="art-credit">Lauren Frohne</figcaption>
        </figure>
        <div class="hero__text">
          <h1><%= doc.h1 %></h1>
        </div>
      </div>

      <h2 id="beginning"><%= doc.h2 %></h2>
      <p class="byline"><%= doc.byline %></p>
      <p class="publish-date"><%= doc.date %></p>

      <% doc.sections.forEach(function(s) { %>
        <% if (s.type === "text") { %>
          <% s.value.forEach(function(p) { %>
            <p class="body-text"><%= p.value %></p>
          <% }) %>
        <% } else if (s.type === "h3") { %>
          <h3><%= s.value %></h3>
        <% } else if (s.type === "graphic") { %>
          <div class="graphic-container">
            <% path = "partials/_" + s.value.partial + ".html" %>
            <h3 class="graphic-hed"><%= s.value.hed %></h3>
            <p class="graphic-text"><%= s.value.chatter %></p>
            <%= t.include(path) %>
            <p class="data-source"><%= s.value.source %></p>
            <p class="art-credit">Hilary Fung and Neal Morton / The Seattle Times</p>
          </div>
        <% } else if (s.type === "comparison") { %>
          <div class="sidebar">
            <% ["Greater Geelong", "King County"].forEach(function(d) { %>
              <div class="comparison-inner <%= d %>">
                <h4 class="comparison-graphic__hed"><%= d %></h4>
                <% json[s.value.sheet].forEach(function(e) { %>
                  <p class="graphic-text comparison-graphic__text"><%= e[d] %></p>
                <% }) %>
              </div>
            <% }) %>
          </div>
        <% } else if (s.type === "looper") { %>
          <figure>
            <video src="./assets/<%= s.value.file %>" autoplay="" playsinline="" loop="" muted=""></video>
            <figcaption>
              <span class="caption"><%= s.value.caption %></span>
              <span class="art-credit">Lauren Frohne</span>
            </figcaption>
          </figure>
        <% } else if (s.type === "brightcove") { %>
          <figure>
            <iframe src="//players.brightcove.net/1509317113/Nk8AFQkhe_default/index.html?videoId=${<%= s.value.brightcove_id %>}" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
            <figcaption><%= s.value.caption %></figcaption>
          </figure>
        <% } %>

      <% }) %>
      <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>

    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
